<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>itShop</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div th:replace="layouts/header :: header"></div>
    <div class="presentation">
        <img src="https://itproger.com/img/reg_page/man-seating.svg">
        <h2>Thinking of getting stylish?</h2>
        <p>Here you will find cool and stylish things for yourself or as a gift.</p>
    </div>
    <main class="container">
        <div class="items" th:if="${!items.isEmpty()}">
            <div th:each="el : ${items}">
                <a th:href="'/item/' + ${el.id}"><img th:src="${el.image}" th:alt="${el.title}"></a>
                <h3 th:text="${el.title}" />
                <p th:text="${el.info}" />
                <span th:text="${el.price} + '$'" />
            </div>
        </div>
        <div th:if="${items.isEmpty()}" class="block">
            <p>Nothing to show</p>
        </div>
    </main>
    <div th:replace="layouts/footer :: footer"></div>
</body>
</html>
