<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <h1>Registration</h1>
    <form method="post" th:action="@{/reg}">
        <input type="text" name="username" placeholder="Login">
        <input type="email" name="email" placeholder="Email">
        <input type="password" name="password" placeholder="Password">
        <div th:text="${error}" style="color: red"/>
        <button type="submit">Register</button>
    </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>
