<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.theamleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title th:text="${item.title}" />
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
<div th:replace="layouts/header :: header"></div>
<main class="container">
    <div class="items">
        <div>
            <img th:src="${item.image}" th:alt="${item.title}">
            <h3 th:text="${item.title}" />
            <p th:text="${item.info}" /><br>
            <p>Author: <b th:text="${item.user.username}"/></p>
            <span th:text="${item.price} + '$'" />
        </div>
    </div>


    <a th:href="'/item/' + ${item.id} + '/update'" class="edit-btn" sec:authorize="hasAuthority('REDACTOR') || hasAuthority('ADMIN')">Edit</a>
    <form method="post" th:action="@{'/item/' + ${item.id} + '/delete'}" sec:authorize="hasAuthority('ADMIN')">
        <button type="submit">Delete</button>
    </form>
</main>
<div th:replace="layouts/footer :: footer"></div>
</body>
</html>
